<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#">This is built using ruby on rails.</a> by <a href="#">Harsha</a>
		</small>
		<nav>
			<ul>
				<li>
					<%= link_to "about", about_path %>
				</li>
			</ul>
		</nav>
	</footer>
</div>